@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body
{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(#39519f, #3939e7);
  z-index: -999;
}
img
{
  width: 100%;
}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
}
.container
{
height: 50vh;
border-radius: 5%;
width: 100%;
padding: 80px 0;
background: linear-gradient(45deg,#d2001a, #7462ff, #00c2ff, #00ff9d, #f48e21);
background-size: 300% 300%;
animation: color 12s ease-in-out infinite;
max-width: 80rem;
padding: 1rem 2rem;
margin: 0 auto;
}

.containerd
{
height: 70vh;
width: 100%;
padding: 80px 0;
background: linear-gradient(315deg,#d2001a, #7462ff, #00c2ff, #00ff9d, #f48e21);
background-size: 300% 300%;
animation: color 12s ease-in-out infinite;
  max-width: 80rem;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.containerr
{
height: 50vh;
border-radius: 5%;
width: 100%;
padding: 80px 0;
background: linear-gradient(315deg,#2aa741, #ff6262, #00c2ff, #c800ff, #f42121);
background-size: 300% 300%;
animation: color 12s ease-in-out infinite;
  max-width: 80rem;
  padding: 0 2rem;
  margin: 50px auto;
}
.containerrr
{
height: 50vh;

width: 100%;
padding: 80px 0;
background: linear-gradient(90deg, #7462ff,#d2001a, #00c2ff, #00ff9d, #f48e21);
background-size: 300% 300%;
animation: color 12s ease-in-out infinite;
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
}

nav
{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
nav .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.logo
{
  max-width: 250px;
  display: flex;
  align-items: center;
}
.links ul
{
  display: flex;
}
.links a
{
  display: inline-block;
  padding: 0.7rem 1.2rem;
  margin-right: 0.6rem;
  color: #ffffff;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 1.5rem;
  transition: 0.3s;
}
.links a.active,
.links a:hover
{
  color: #0b0235;
  background: #ffffff;
}
.menu
{
  width: 2.7rem;
  height: 3rem;
  z-index: 100;
  position: relative;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.menu .bar 
{
  position: relative;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.bar::before,
.bar::after
{
  content: '';
  position: absolute;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.bar::before
{
  transform: translateY(-9px);
}
.bar::after
{
  transform: translateY(9px);
}
.hero
{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.hero #base
{
  z-index: 6;
}
.hero #text
{
  position: absolute;
  color: #fefefe;
  font-size: clamp(3rem, 7.5vw, 8rem);
  white-space: nowrap;
  letter-spacing: 3px;
  z-index: 5;
  right: -850px;
}
#btn
{
  font-size: 18px;
  position: absolute;
  color: #fefefe;
  text-decoration: none;
  padding: 8px 30px;
  display: inline-block;
  border: 2px solid #fefefe;
  border-radius: 25px;
  background: transparent;
  z-index: 7;
  letter-spacing: 0.51px;
  transform: translateY(200px);
}
.section-padding
{
    padding: 80px 0;
    background: #5a93e3
}

@keyframes color
{
  0%
  {
    background-position: 0% 50%;
  }
  50%
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0% 50%;
  }
}




.grid
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.left-content,
.right-content
{
  padding: 2rem;
}

.left-contentt
{
  padding: 2rem;
  align-items: center;
}
h4
{
  font-weight: 700;
  letter-spacing: 0.51px;
  line-height: 1.35;
  text-align: justify;
  color: #ffffff;
  font-size: 1.75rem;
}
.heading
{
  font-size: 1.15rem;
  color: #e1e1e2;
  margin-bottom: 0.5rem;
}
p
{
  color: #000000;
  font-size: 1rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  font-weight: 10;
}
footer
{
  background: #0b0235;
  padding: 60px 0;
  text-align: center;
}
footer img
{
  max-width: 400px;
}
@media (max-width:992px)
{
  .menu
  {
    display: flex;
  }
  .links ul 
  {
    display: none;
  }
  h4 
  {
    font-size: 1.2rem;
  }
  .heading
  {
    font-size: 1rem;
  }
  p 
  {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px)
{
  .grid
  {
    grid-template-columns: 1fr;
  }
  .left-content,
  .right-content
  {
    padding: 0.4rem;
  }
}